Source: mqtt-tools
Maintainer: Wiren Board team <info@wirenboard.com>
Section: misc
Priority: optional
Standards-Version: 4.5.1
Build-Depends: debhelper (>= 9)
Homepage: https://github.com/wirenboard/mqtt-tools/

Package: mqtt-tools
Architecture: all
Depends: ${misc:Depends},
         python3,
         python3-wb-common (>= 2.1.0),
         python3-tqdm
Description: Command-line tools for MQTT
 A set of tools for working with MQTT.
