Source: mqtt-tools
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config, python3-wb-common, python3-tqdm
Homepage: https://github.com/wirenboard/mqtt-tools/

Package: mqtt-tools
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-all, python3-wb-common (>= 2.1.0), python3-tqdm
Description: MQTT tools
